/* reset */ 

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

nav ul, nav li, form ul, form li {
    margin: 0;
    padding: 0; 
}

nav ul, form ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

blockquote {
    quotes: '\00AB' '\00BB' '\201E' '\201C';
}
 blockquote::before {
     content: open-quote;
 }
 blockquote::after {
     content: close-quote;
 }

 img {
     width: 100%;
 }

/* general */

:root {
    --color-text: #072083;
    --color-bg: #f4951d;
    --color-titles: #FFE800;
}

html {
    scroll-behavior: smooth;
}

p, form{
    font-family: 'Oswald', sans-serif;
}

p {
    margin-bottom: 1rem;
}

h1, h2 {
    -webkit-text-stroke: 0.15rem black;
    color: var(--color-titles);
    font-weight: 900;
    font-size: 5rem;
    text-transform: uppercase;
}

h1, h2, h3, h4{
    font-family: 'Concert One', cursive;  
}

main {
    background-color: var(--color-bg);
    margin-left: 2.5rem;
    color: var(--color-text);
}

footer {
    background-color: var(--color-bg);
}

.hide{
    /* important dado que el inline-block de fa prevalece sobre el hide*/
    display: none !important;
}

.active{
    color: var(--color-bg);
    background-color: var(--color-text); 
}


/* General */
section header{
    background-size: cover;
    height: 22rem;
    text-align: center;
}

section header::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 2.5rem;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.09);
}

.home-header{
    background-image: url(../assets/home.jpg);
    background-size: cover; 
    height: 100vh;
}

.home-header .centered-content{
    z-index: 1;
    position: relative;
    padding-top: 20em;
}

.home-header .centered-content h1{
    -webkit-animation: movecloser 5s infinite; /* Safari 4.0 - 8.0 */
    animation: movecloser 3s linear;
    animation-fill-mode: forwards;
}

@keyframes movecloser {
    0%   {font-size: 2rem; color: #000000}
    25%  {font-size: 4rem; color: grey}
    50%  {font-size: 6rem; color: var(--color-text)}
    75%  {font-size: 8rem; color: var(--color-bg)}
    100% {font-size: 5rem; color: var(--color-titles)}
}


.centered-content{
    padding-top: 7rem;
}

.title-wrapper{
    min-height: 22rem;
    background-color:#0009;
}

.whoiam-header{
    background-image: url(../assets/whoiam.png);
}

.studies-header {
     background-image: url(../assets/studies.jpg);
}

.work-header{
    background-image: url(../assets/work.jpg);
}

.about-header {
    background-image: url(../assets/about.jpg);
}

.contact-header{
    background-image: url(../assets/contact.jpg);
}

/* Navigation menu */

body >  header {
    background-color: var(--color-bg);
    position: fixed;
    width: 2.5rem;
    text-align: center; 
    height: 100%;
    color: var(--color-text);
    font-family: 'Raleway';
    font-weight: 600;
    }
    
.logo-nav {
    width: 70%;
    margin-top: 0.5em;
}

.mobile i{
    cursor: pointer;
}

.menu-nav {
    margin-top:50%;
}

.menu-nav li{
    list-style:none;
    height:1.5em;
    width:1.4em;
    background-color: var(--color-bg);
    padding-top: 2rem;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin: auto;
}

.menu-nav span{
    /* Container properties */
    width:0;
    left:26px;
    position:absolute;
    overflow:hidden;
    height: 100%;
    background-color: inherit;

    /* CSS3 Transition: */
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
}

.menu-nav a{
    display:block;
    position:relative;
    height: 100%;
}

.menu-nav a:hover span{ 
    width:6em; 
    overflow:visible;

    -moz-box-shadow:0 0 0.15rem #fff;
    -webkit-box-shadow:0 0 0.15rem #fff;
    box-shadow:0 0 5px 0.15rem #fff;
}

.menu-nav a:hover{
    text-decoration:none;

    /* CSS outer glow with the box-shadow property */
    -moz-box-shadow:0 0 0.15rem #fff;
    -webkit-box-shadow:0 0 0.15rem #fff;
    box-shadow:0 0 5px 0.15rem #fff;
}

.home-nav i{
    vertical-align: middle;
}


/* Who I am */ 

.whoiam-content{
    display: grid;
    grid-template-columns: auto auto;
    margin: 1rem;
}

.whoiam-pic img{
    min-width: 10rem;
}


/* Studies */

.studies-content{
    display: grid;
    grid-template-columns: 6rem auto;
    margin: 1rem;
}

.studies-pic img{
    width: 6rem;
}

.studies-text{
    padding-left: 1rem;
}

#studies .content-wrapper{
    display: initial;
}


/* Work */

.work-content{
    margin-top:1em;
    margin-bottom: 2rem;
    text-align: center;
}

.work-pic img{
    width: 65%;
    max-height: 8rem;
}

.show-more {
    font-size: 1.5rem;
}

.show-more:hover{
    -moz-box-shadow:0 0 0.15rem #fff;
    -webkit-box-shadow:0 0 0.15rem #fff;
    box-shadow:0 0 5px 0.15rem #fff;

    cursor: pointer;
}

.work-text p{
    text-align: justify;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}


/* About */

#about .content-wrapper{
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.resp-container{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe{
    position: absolute;
    top: 5%;
    left: 12%;
    width: 75%;
    height: 75%;
    border: 0;
}

.about-text{
    width: 80%;
    margin: auto;
    text-align: justify;
}

.about-text ul {
    font-family: 'Oswald', sans-serif;
    list-style-image: url(../favicon.ico);
}


/* Contact */

#contact .content-wrapper{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.form-wrapper{
    display: grid;
    grid-template-columns: 75% 25%;
}

#contact-form{
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#contact-form ul{
display: grid;
}

#contact-form ul li, #other-field{
    margin: 0.2rem;
}

.hidden-field{
    display: none;
}

.contact-text{
    margin-top: 2rem;
    font-weight: 600;
}

input, textarea, select {
    float: right;
    width: 70%;
    border: solid 2px #fff;
    box-shadow: -1px 1px 1px #fff;
    border-radius: 0.25rem;
}

.btn-submit{
    margin-left: auto;
    background: var(--color-text);
    color: var(--color-bg);
    border: none;
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    font-weight: 600;
}

.btn-submit:hover{
    background: var(--color-bg);
    color: var(--color-text);
    
    -moz-box-shadow:0 0 0.15rem #fff;
    -webkit-box-shadow:0 0 0.15rem #fff;
    box-shadow:0 0 5px 0.15rem #fff;
}

.align-btn-submit {
    text-align: center;
    margin-top: 1rem;
}

.form-pic{
    display: none;
}

#messageCounter {
    margin-left: auto;
    width: 3rem;
    font-size: 0.7rem;
}


/* Footer */

.footer-wrapper{
    display: grid;
    grid-template-columns: auto auto;
}

.footer-pic{
    text-align: right; 
}

.footer-pic img{
    width: 10rem;
}

.social-icon{
    font-size: 2.5rem;
    padding-top: 1em;  
    color: var(--color-text);
}

/* Media query */

@media screen and (min-width: 800px) {
    .hide{
        display: initial !important;
    }

    .mobile{
        display: none;
    }

    body > header {
        width: 8rem;
    }

    main{
        margin-left: 8rem;
    }

    section header::after{
        left: 8rem;
    }

    h1{
        font-size: 6rem;
    }

    #navigation-menu li{
        margin:0;
    }

    #navigation-menu span{
        width: 6em;
        text-align: left;
        
    }

    .whoiam-pic img{
        max-width: 20rem;
        width: 100%;
    }

    #studies .content-wrapper{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .form-pic{
        display: inherit;
    }
}
